extends layout

block content
	.row(style='height:100%; background-color: rgba(0, 0, 0, 0.6); ')
		.col-lg-6(style='height:100%;')
			br
			br
			br
			.row
				.col-1
				.col-10
					a(href='http://localhost:8080')
						i.fas.fa-headphones(style='font-size:40pt;')
					br
					br
					br
					br
					br
					br
					br
					br
					br
					h1(style='font-size:40pt;') AMGC
					br
					p(style='font-size:15pt;') Automatic Music Genre Classification of Audio Signals with Machine Learning Approaches
					form(method='POST' encType='multipart/form-data' action='/classify')
						.form-row
							.col-5
								label(for='exampleFormControlFile1') Choose an audio file
								input#exampleFormControlFile1.form-control-file(type='file' name='sampleFile')
						.form-row
							.col-5
								br
						.form-row
							.col-3
								input.form-control.btn.btn-primary(type='submit' value='Get Genre!')
				.col-1
			br
		if audio_file_name
			.col-lg-6(style='background-color: #0c0c0c; overflow:scroll;')
				br
				br
				br
				.row
					.col-1
					.col-10
						.row
							h2(style='color: #007bff;') RESULTS
							br
							p Our Linear Support Vector Machine model predicted that <b><i>#{audio_file_name}</i></b> has a genre of <b style='color: #007bff;'><i>#{label}</i></b>.
							br
						.row
							table#example.table.table-hover.table-light(style='color: black; width: 100%')
								thead.thead-dark
									tr
										th(scope='col') #
										th(scope='col') Features
										th(scope='col') Values
								tbody
									each value, i in values
										tr
											th(scope='row')= i+1
											td= features[i]
											td= value
						.row
							br
						.row
							img(src='images/'+entropy_image width="50%" height="50%")
							img(src='images/'+mfcc_image width="50%" height="50%")
						.row
							br
						.row
							h5(style='color: #fff;')
								b MORE ABOUT <i style='color: #007bff;'>#{label}</i>
							p(style='text-align: justify; color: #fff;') #{wiki}
					.col-1
				br